body {
  background-color: blue;

  h1 {
    color: blue;
  }
}

.container {
  width: 100%;
  border: 1px solid green;

  .header {
    display: flex;

    a {
      span {
        color: green;
      }
    }
  }
}
