.header {
  padding-top: 20px;
  position: relative;

  .logo {
    @include media-breakpoint-up('md') {
      width: 150px;
      margin-top: 0;
    }

    display: block;
    width: 87px;
    margin: -68px auto 0 auto;
  }
}

.header-contact {
  @include media-breakpoint-up('md') {
    display: block;
  }

  display: none;
  font-weight: 300;

  a {
    color: $gray-tertiary;
  }

  i {
    color: $brand-main;
    font-size: 20px;
  }
}

.header-controls {
  @include media-breakpoint-up('md') {
    position: absolute;
    top: 10px;
    right: 0;
  }

  display: flex;
  justify-content: space-between;

  & > ul {
    display: flex;

    &:first-child {
      @include media-breakpoint-up('md') {
        display: none;
      }

      li {
        &:first-child {
          a {
            color: $brand-main;
          }
        }
      }
    }

    &:last-child {
      @include media-breakpoint-up('md') {
        display: inline-flex;
        flex-direction: row-reverse;
      }
    }

    & > li {
      &:first-child {
        padding-right: 14px;
      }
    }

    a {
      color: $gray-main;
      font-size: 22px;
    }
  }

  .user-controls {
    a {
      @include media-breakpoint-up('md') {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 12px;

        &:hover {
          text-decoration: none;
        }
      }

      img,
      :last-child {
        @include media-breakpoint-up('md') {
          display: block;
        }

        display: none;
      }

      :first-child {
        @include media-breakpoint-up('md') {
          display: none;
        }
      }
    }
  }
}
