body {
  padding: 150px;
}

.box {
  width: 150px;
  height: 150px;
  margin: 25px;
  border: 1px solid black;
  float: left;
}

.box-1 {
  background-color: aquamarine;
}

.box-2 {
  background-color: brown;
}

.box-3 {
  background-color: bisque;
}

.box-4 {
  background-color: purple;
}

.box-5 {
  background-color: lightpink;
}

/* Schimba textul casutei 4 in rosu
pentru rezolutiile mai mari de 992px */
.box-4 {
  color: red;
}

.heading, .title , .sub-title {
  display: none;
}

@media (max-width: 576px) {
  /* Ascunde folosind proprietatea display
  casuta 2 pe rezolutiile mai mici de 576 */

  /* TEMA */

  /* Ascunde casuta 1 pentru rezolutiile 
  mai mici de 576px */
  .box-1, .box-2 {
    display: none;
  }
  /* Micsoreaza la 15 paddingul de pe elementul 
  body pentru rezolutiile de sub 576px  */
  .body {
    padding: 15px;
  }
}

@media (max-width: 768px) {
  /* Coloreaza textul casutei 5 alb
  pe rezolutiile mai mici de 768px */
  .box-5 {
    color: #fff;
  }

  /* Schimba bordura casutei 3 in verde pentru
  rezolutiile mai mici de 768 */
  .box-3 {
    border: 3px solid springgreen;
  }
}

@media (max-width: 992px) {
  /* Ascunde casuta 4 pe
  rezolutiile mai mici de 992px  */
  .box-4,
  .box-3 {
    display: none;
  }

  /* Ascunde casuta 3 pentru rezolutiile mai mici de 992px  */
  .box-3 {
    display: none;
  }

  /* Schimba textul casutei 4 in rosu
  pentru rezolutiile mai mari de 992px */
  .box-4 {
    color: black;
  }

  /* TEMA */
  /* Coloreaza bordura si textul casutei 2 albe pentru 
  rezolutiile de pana in 992  */
  .box-2 {
    border-color: white;
    color: white;
  }
}

/* Adauga un media query pentru
rezolutiile de pana in 1200px */
@media (max-width: 1200px) {
  /* Ascunde casuta 5 pe rezolutiile mai mici de 1200px */
  .box-5 {
    display: none;
  }
}

/* Adauga un media query care sa se
aplice intre 600px si 1200 de px */
@media (min-width: 600px) and (max-width: 1200px) {
  /* Adauga un element h1 in document, deasupra
  casutelor si afiseaza-l doar intre 600px si 1200px */
  .heading {
    display: block;
  }
}

/* TEMA */

@media (min-width: 100px) and (max-width: 500px) {
  /* Adauga un element h2 deasupra casutelor si 
  afiseaza-l intre rezolutiile de 500px si 100px */
  .title {
    display: block;
  }
}

@media (min-width: 576px) {
  /* Creeaza un element h3 sub casute si afiseaza-l 
  pentru rezolutiile MAI MARI de 576px (min-width) */
  .sub-title {
    display: block;
  }
}

@media (min-width: 1000px) and (max-width: 1200px) {
  /* Coloreaza rosu acest nou element pentru 
  rezolutiile mai mari de 1000px  */
  .sub-title {
    color: red;
  }
}
/* Ascunde din nou elementul nou pentru rezolutiile mai mari de 1200px */
