$brand-main: red;
$brand-secondary: green;
// TEMA
$hover: magenta;
$active: pink;
$visited: lightcoral;

// Pentru ancorele din lista neordonata elimina
// linia si coloreaza-le rosii atunci cand
// mouseul face hover pe ele folosind
// simbolul & din Sass
ul {
  a {
    text-decoration: none;

    &:hover {
      color: $brand-main;
    }

    // Coloreaza aceleasi ancore mov atunci cand se face
    // click pe ele, folosind simbolul & si
    // pseudo-clasa :active

    // Coloreaza aceleasi ancore verzi
    // atunci cand ele sunt vizitate,
    // folosind simbolul & si
    // pseudo-clasa :visited
    &:active,
    &:visited {
      color: $brand-secondary;
    }
  }
}

// Seteaza paddingul pentru paragrafele
// cu clasa para la 10px pe verticala
// si 20 pe orizontala
.para {
  padding: 10px 20px;
}

// Seteaza latimea paragrafelor para-short
// la 50% si centreaza-le
.para-short {
  width: 50%;
  margin: 0 auto;
}

// Folosind inspectorul, aplica clasa reverse
// pe elementul body, si cand aceasta este
// aplicata, schimba paragrafele astfel
// incat para-short sa fie 100% iar para
// sa fie 50% doar pentru paragrafele din
// elementele cu clasa paragraphs. Paragrafele
// cu clasa para-short vor avea paddingul de 10px
// pe verticala si 20 pe orizontala, iar cele
// cu clasa para nu vor avea padding.
.paragraphs {
  .para {
    padding: 10px 20px;

    .reverse & {
      width: 50%;
      padding: 0;
      margin: 0 auto;
    }
  }

  .para-short {
    width: 50%;
    margin: 0 auto;

    .reverse & {
      width: 100%;
      padding: 10px 20px;
    }
  }
}

// Creeaza trei variabile noi pentru culorile: magenta, lightcoral si pink 
// Foloseste-le pentru starile ancorelor din listele ordonate: 
// hover: magenta
// active: pink 
// visited: lightcoral
ol {
  a {
    &:hover {
      color: $hover;
    }
    &:active {
      color: $active;
    }
    &:visited {
      color: $visited;

      .all-visited & {
        text-decoration: line-through;
      }
    }
  }
}

// Folosind inspectorul aplica o clasa numita all-visited 
// pe lista ordonata. Cand aceasta clasa este pe element, 
// toate ancorele din acesta sa fie taiate (line-through)

//Nu am inteles exact cum functioneaza, nu a parut ca s-a 
// modificat cu nimic ultima modificare
