.home-payment {
  margin-top: 25px;
  text-align: center;

  ul {
    text-align: center;
    margin-top: 20px;
    width: 320px;
    display: inline-block;

    li {
      display: inline-block;
      margin: 4px 2px;
    }
  }
}
