.home-newsletter {
  @include media-breakpoint-up('md') {
    height: 200px;
    padding: 0;

    & > form {
      height: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  background-color: $gray-secondary;
  text-align: center;
  padding: 16px 0;

  .h1-newsletter {
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 400;
    color: $white;

    span {
      display: block;
      font-weight: bold;
      font-size: 35px;
      line-height: 37px;
    }
  }

  input {
    &[type='email'] {
      @include media-breakpoint-up('md') {
        margin-bottom: 10;
        width: 50%;
      }

      display: block;
      width: 75%;
      font-weight: 300;
      text-transform: lowercase;
      border: 0;
      background-color: transparent;
      color: $white;
      padding-bottom: 5px;
      border-bottom: 1px solid white;
      margin: 0 auto 35px auto;
    }
  }

  button {
    &[type='submit'] {
      border: 0;
      background-color: transparent;
      font-size: 19px;
      font-weight: 300;
      text-transform: uppercase;
      color: $white;
      background: url('/img/icons/mail-send.png') no-repeat center right;
      height: 59px;
      display: inline-block;
      padding-right: 130px;
    }
  }
}
