.home-newsletter {
  background-color: $gray-secondary;
  color: $white;
  text-align: center;
  padding: 16px 0;

  h1 {
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 400;

    span {
      display: block;
      font-weight: bold;
      font-size: 35px;
      line-height: 37px;
    }
  }

  input {
    &[type='email'] {
      display: block;
      width: 75%;
      font-weight: 300;
      text-transform: lowercase;
      border: 0;
      background-color: transparent;
      color: $white;
      padding-bottom: 5px;
      border-bottom: 1px solid white;
      margin: 0 auto 35px auto;
    }
  }

  button {
    &[type='submit'] {
      border: 0;
      background-color: transparent;
      font-size: 19px;
      font-weight: 300;
      text-transform: uppercase;
      color: $white;
      background: url('/img/icons/mail-send.png') no-repeat center right;
      height: 59px;
      display: inline-block;
      padding-right: 130px;
    }
  }
}
